NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=replace_with_your_google_maps_api_key
NEXT_PUBLIC_WEB_PUSH_VAPID_PUBLIC_KEY=BIkpZaPH44Vujz3RZzEwnS8xV0S_Y-NQOHuM5gnZ2jJL6np4oLgtdGwq65npgnTsIhzqQgbInjhMM43XLJsNcFk
